.cart-detail:hover {
    box-shadow: 10px 5px 8px .6 white!important;
    transform: scale(1.1)!important;
    -webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
    -ms-transform: scale(1.1)!important;
    -o-transform: scale(1.1)!important;
}

.cart-detail {
    transition: all.3s;
    -webkit-transition: all.3s;
    -moz-transition: all.3s;
    -ms-transition: all.3s;
    -o-transition: all.3s;
}